NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDFdpSzVKCokMj2947QtRmF3Odnl9_4RaY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=amda-cf25f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=amda-cf25f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=amda-cf25f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=702996432262
NEXT_PUBLIC_FIREBASE_APP_ID=1:702996432262:web:5e79cd16f472478aab1807
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-D12LTWK3YL
FIREBASE_PROJECT_ID=amda-cf25f
FIREBASE_SERVICE_ACCOUNT_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GEMINI_API_KEY=
